<h1>Welcome to Coin Combinations!</h1>
<form action="/result_page">
  <div class="form-group">
     <label for="coin">What is your total amount of change money?
</label>
     <input id="coin" name="coin" class="form-control" type="coin">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
